name: checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"
      - run: bun install --frozen-lockfile
      - run: |
          bun typecheck
          bun biome-check
          bun test --bail=1
